<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{ dataset_name }}</title>
</head>

<body>
    <a href="/">Home</a>
    <form action="/submit/{{ dataset_name }}" method="post">
        {% for item in image_caption_data %}
        <img src="{{ url_for('static', filename='/data/' + dataset_name + '/images/' + item.image_filename) }}"
            alt="{{ item.image_filename }}">
        <br>
        <textarea name="{{ item.image_filename }}" id="{{ item.image_filename }}" cols="67"
            rows="5">{{ item.caption }}</textarea>
        <br>
        {% endfor %}
        <input type="submit" , value="Submit">
    </form>
</body>

</html>